body {
	background-color: #fff1d0;
}
header table {
  	margin: 0px;
}
header td {
  	padding: 0px 4px 0px 4px;
}
section {
  	padding: 5px;
}
footer {
  	background-color: #e8c36a;
    padding: 5px;
}
footer table {
  	width: 100%;
}
footer td {
    padding: 5px 10px;
    font-size: 13px;
}
table {
	margin: auto;
}
label {
  	color: #919191;
  	font-size: 13px;
}
.ctnr,#ctr_ctnr {
  	border: 1px solid #000;
  	border-radius: .4rem;
  	margin: 5px;
  	padding: 5px;
}
.jumbotron {
	padding: 15px;
	background-color: #e8c36a;
	margin-bottom: 5px;
}
.genre_label, .maturity_label, .status_label {
	border-radius: .25rem;
  	padding: 3px;
  	margin: 1px;
}
.genre_label {
  	background-color: #ffd700;
  	border: 1px solid #ccae0e;
}
.maturity_label {
  	background-color: #fc4965;
  	border: 1px solid #c7122e;
}
.status_label {
  	background-color: #bbf25c;
  	border: 1px solid #90cf25;
}
.link_pair {
  	text-align: center;
}
.link_pair input {
  	display: inline;
  	width: 49%;
}
.rmasp {
    background-color: #ff3030;
    border-radius: .15rem;
    border: 1px solid #db1d1d;
}
.rmasp:hover {
    background-color: #ff2424;
}
.alert {
    position: fixed;
    width: calc(100% - 30px);
    margin: 15px;
    animation: alertfade 2s 10s forwards;
}
@keyframes alertfade {
  from {opacity: 1;}
  to {opacity: 0;}
}
#logo {
  	width: 50px;
  	height: 50px;
  	display: inline;
}
#exit {
  	text-align: right;
}
#empty {
  	width: 100%;
  	height: 500px;
}
#empty h3 {
  	text-align: center;
}
#ctr_ctnr {
  	width: 505px;
  	padding: 15px 10px;
  	margin: auto;
}
#ctr_ctnr div, .space, .link_pair {
  	margin-bottom: 10px;
}