body {
	background-color: #fff1d0;
}
header button {
  	position: absolute;
  	top: 5px;
  	right: 5px;
}
nav {
	padding: 5px;
	background-color: #f4d997;
}
footer {
    background-color: #e8c36a;
    padding: 5px;
}
footer p {
    margin: 5px 10px 5px;
    font-size: 13px;
}
table {
	margin: auto;
}
form table td {
	padding: 0px 15px 0px 15px;
}
input[name='page'] {
  	border-radius: .4rem;
  	border: 1px solid #000;
}
.jumbotron {
	padding: 15px;
	text-align: center;
	background-color: #e8c36a;
	margin-bottom: 5px;
}
.ind_manga {
  	padding: 15px 30px;
  	width: 350px;
	text-align: center;
}
.ind_manga td {
  	text-align: center;
}
.ind_manga article {
  	display: none;
}
.click_area {
  	cursor: pointer;
}
.poster {
	width: 200px;
  	height: 300px;
}
.icon {
	width: 18px;
  	height: 18px;
  	transform: translateY(-13%);
}
.genre_label, .maturity_label, .status_label {
	border-radius: .25rem;
  	padding: 3px;
  	margin: 1px;
}
.genre_label {
  	background-color: #ffd700;
}
.maturity_label {
  	background-color: #fc4965;
}
.status_label {
  	background-color: #bbf25c;
}
.label_ctnr {
	margin-bottom: 10px;
}
.ch_num {
	margin: 3px;
}
.fm_links td {
  	width: 33%;
  	text-align: center;
}
#pages {
  	margin-top: 10px;
  	text-align: center;
}
#current {
  background-color: #ededed;
}
#full_manga {
	left: 0px;
  	margin-left: auto;
  	right: 0px;
  	margin-right: auto;
  	top: 25px;
  	background-color: #f4d997;
  	border-radius: .5rem;
  	width: 800px;
  	height: 525px;
  	padding: 15px;
  	position: fixed;
  	display: none;
}
#fm_catch {
  	top: 0px;
  	width: 100%;
  	height: 100%;
  	background-color: rgba(255,247,227,0.7);
  	position: fixed;
  	display: none;
}
#full_manga table {
  	width: 100%;
}
#full_manga td {
	/*border: 1px solid black;*/
  	padding: 3px;
}
#full_manga .genre_label {
  	border: 1px solid #ccae0e;
}
#full_manga .maturity_label {
  	border: 1px solid #c7122e;
}
#full_manga .status_label {
  	border: 1px solid #90cf25;
}
#fm_poster {
  	text-align: center;
}
#fm_titles {
	vertical-align: top;
}
#empty {
  	width: 100%;
  	height: 300px;
}
#empty h3 {
  	margin: auto;
}